node_modules
**/node_modules
**/.env
**/.env.*
!**/.env.example
dist
**/dist
.git
.github
.vscode
apps/mobile
!apps/mobile/package.json
*.log
npm-debug.log*
coverage
**/__tests__
**/*.test.ts
**/*.spec.ts
